html, body {
    height: 100%;
}

canvas {
    border: 1px dotted green;
    display: inline;
    height: 100%;
    width: 100%;
}

.outer-container {
	position: relative;
}

.inner-centered {
	left:50%;
   top:50%;
   -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   position:absolute;
    background-color:grey;
}

select {
	text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin: 0 auto 1em auto;
  padding: .5em;
  padding-right: 1.5em;
  width: 30%;
  min-width: 200px;
  outline: none;
  font-family: sans-serif;
  font-size: 20pt;
  font-weight: 400;
  text-align: center;
  text-overflow: '';
  border: 1px solid rgba(255,255,255,.7);
  color: rgba(0,0,0,.7);
  background-color: rgba(255,255,255,.5);
  background-repeat: no-repeat;
  background-position: calc(100% - .5em) 50%;
  background-size: 12px;
  transition: all .2s ease-in-out;
  box-shadow: rgba(0,0,0,.15) 0 1px 0;
}
select::-ms-expand {
  display: none;
}
select:focus {
  border-color: orange;
  box-shadow: #fc0 0 0 3px;
}

/* Light Theme */
select.sel-light {
  color: rgba(0,0,0,.7);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQo8cG9seWdvbiBvcGFjaXR5PSIwLjciIHBvaW50cz0iMCw0IDE2LDQgOCwxMiIvPg0KPC9zdmc+DQo=');/* dark arrow*/
  border-radius: 25px;
}
select.sel-light:active {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gb3BhY2l0eT0iMC41IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');
}


#slider-container {
	top: 17%;
}

#dropdown-container {
	top: 90%;
}

input[type=range] {
  width: 300px;
}
/*###################################*/
/*###########Responsive Range########*/
/*###################################*/
/*##############Core Style###########*/

input[type=range] {
  -webkit-appearance: none;
  width: 50%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/*#############Thumb##############*/

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
  margin-top: -12px;
}

input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}
/*#############Track##############*/

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}

input[type=range]:active::-webkit-slider-runnable-track {
  background: #d6d6d6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #ccc;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ddd;
}

input[type=range]::-ms-fill-upper {
  background: #ccc;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ddd;
}