html, body {
    height: 100%;
}

canvas {
    display: inline;
    height: 100%;
    width: 100%;
}
#canvas-container {
  height: 80%;
}

.outer-container {
	position: relative;
}

.inner-centered {
	left:50%;
   top:50%;
   -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   position:absolute;
    background-color:grey;
}

select {
	text-align: center;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  margin: 0 auto 1em auto;
  padding: .5em;
  padding-right: 1.5em;
  width: 30%;
  min-width: 200px;
  outline: none;
  font-family: 'Playfair Display', serif;
  font-size: 20pt;
  font-weight: 400;
  text-align: center;
  text-overflow: '';
  border: 1px solid rgba(255,255,255,.7);
  color: rgba(0,0,0,.7);
  background-color: rgba(255,255,255,.5);
  background-repeat: no-repeat;
  background-position: calc(100% - .5em) 50%;
  background-size: 12px;
  transition: all .2s ease-in-out;
  box-shadow: rgba(0,0,0,.15) 0 1px 0;
}
select::-ms-expand {
  display: none;
}
select:focus {
  border-color: orange;
  box-shadow: #fc0 0 0 3px;
}

/* Light Theme */
select.sel-light {
  color: rgba(0,0,0,.7);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQo8cG9seWdvbiBvcGFjaXR5PSIwLjciIHBvaW50cz0iMCw0IDE2LDQgOCwxMiIvPg0KPC9zdmc+DQo=');/* dark arrow*/
  border-radius: 25px;
}
select.sel-light:active {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gb3BhY2l0eT0iMC41IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
}
.overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.overlay-button {
  position: fixed;
  bottom: 6vh;
  left: 50vw;
  height: 4vh;
  width: 40vw;
  line-height: 0vh;
  z-index: 10;
  padding: 1em 2.5em;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3vh;
  color: #222;
  font-size: 2vh;
  text-align: center;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;
  transform: translate(-50%, -50%);
}
.overlay-button.is-open {
  opacity: 1;
  visibility: visible;
}
.overlay-button:hover {
  background: transparent;
  color: #fff;
}

#drum-icon {
  transform: translate(50%,50%);
  max-width:4vh;
  max-height:4vh;
}

#styles-button {
    position: absolute;
    display: inline-block;
    margin-top: 6%;
    margin-left: 6%;
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}


@media (min-width: 320px) {
  #styles-button {
    right: 14vw;
    top: 14vh;
  }
}

@media (min-width: 1025px) {
  #styles-button {
    right: 28vw;
    top: 9vh;
  }
}

.styles-menu {
  margin: auto;
  margin-top: 35vh;
  top: 20%;
  width: 50vw;
  height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  display: block;
  position: relative;
  width: 100%;
  background-color: blue;
  font-size: 20pt;
  font-family: 'Playfair Display', serif;
}

.close-button {
  height: 50px;
  width: 50px;
  position: relative;
  box-sizing: border-box;
  line-height: 50px;
  display: inline-block;

  &:before, &:after {
    @width: 50px;
    @height: 10px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -25px;
    display: block;
    height: 50px;
    width: 10px;
    background-color: #fff;
    transition: all 0.2s ease-out;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {

    &:before, &:after {
      transform: rotate(0deg);
    }
  }
}
